
        .hero-section {
            background-color: #f4f4f4;
            padding: 50px 0;
        }
        .image1{
            object-fit: cover;
            height: 300px;
            width: 800px;
        }
        .image2{
            height: 300px;
            width: 800px;
        }
        .image3{
            height: 300px;
            width: 800px;
        }

        .hero-carousel {
            width: 80%;
            margin: 0 auto;
        }

        .custom-btn {
            background-color: #28a745;
            color: white;
            padding: 10px 20px;
            border-radius: 5px;
            text-decoration: none;
        }

        .custom-btn:hover {
            background-color: #218838;
        }

        .about-section, .how-it-works, .benefits-section, .case-studies {
            padding: 60px 0;
        }

        /* .how-it-works {
            border: 2px solid black;
            font-weight: bold;
            margin-bottom: 20px;
            margin-left: 5px;
            margin-right: 5px;

        } */

        .footer {
            background-color: #333;
            color: white;
            padding: 20px 0;
        }

        .footer a {
            color: #ccc;
            text-decoration: none;
        }

        .footer a:hover {
            color: #fff;
        }
